canvas{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    /* fullscreen canvas behind other stuff */
}

h1 {
    font-family: monospace;
    font-size: 40px;
    color: rgb(194, 215, 226);
}
h2 {
    font-family: monospace;
    color: rgba(194, 215, 226, 0.735);
}
p {
    font-family: monospace;
    color: rgb(194, 215, 226);
}