html, body {
  background-color: rgb(207, 229, 241);
  margin: 0;
  padding: 0;

}
canvas {
  display: block;
  border: 1px solid black;

  /* position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain; */
}
